{# Highly mofifiable layout file | Using .twig as templating engine #}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Component Library</title>
	<meta content="telephone=no" name="format-detection">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Karlis Upitis">
	<!-- place for twitter/facebook cards -->

	<!-- style -->
	{# <link rel="stylesheet" type="text/css" href="/assets/css/style.css"> #}
	<link rel="stylesheet" type="text/css" href="{{root}}assets/css/styleguide.css">
</head>
<body>
	{# {{ navigation }} #}
	<div class="clib" id="page">
		<header class="clib__header"></header>
		<div class="clib__wrapper">
			<div class="clib__container">
				<main class="clib__main" role="main">
					{% block content %}There is no content{% endblock %}
				</main>
				<aside class="clib__sidebar">
					{% include 'themes/github/components/02-organisms/compnav/compnav.twig' with {'title': 'Your components', 'searchableItems': searchableItems} %}
				</aside>
			</div>
		</div>
		<div class="clib__container">
			<footer class="clib__footer"></footer>
		</div>
	</div>

	<!-- javascript goes here -->
	{# ComponentLibrary related JavaScript #}
	<script src="{{root}}assets/js/component-library/styleguide.js"></script>
	{# Here we pass component related Style & JavaScript #}
	<script>
		var Iframe = (function () {
			var components = $('.st-folder__component')

			return {
				init: function () {
					if (!window.jQuery) {
						console.warn('Error: jQuery is not loaded')
						return
					}
					components.each(function () {
						return iframify(this, {

							'headExtra': '<link rel="stylesheet" type="text/css" href="{{root}}assets/css/style.css">',
							'bodyExtra': '{% include "../components/js-dependencies.twig" %}'
							// 'bodyExtra': '<script src="{{root}}assets/js/vendor/jquery-2.2.3.min.js"><\/script><script src="{{root}}assets/js/components.js"><\/script>'
						})
					})
				}
			}
		})()
		Iframe.init()
	</script>
</body>
</html>
