{# template for a single article box #}
<article class="news-article {{class}}">
	<figure class="news-article__figure">
		<img src="{{image}}" alt="Sports image" class="news-article__img">
	</figure>
	<div class="news-article__content">
		<h3 class="news-article__title">{{title}}</h3>
		<p class="news-article__excerpt">{{excerpt}}</p>
		<p class="news-article__tags">{{tags}}</p>
	</div>
</article>